<div id="stylized" class="register-form">
	<%= form_for(resource, :html => { :multipart => true }, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>
	
	  <h1>Sign-up for BREOS Membership</h1>
	  <p>Complete the form below to get started with your membership.</p>
	  
	  <label>Email
	  <span class="small">Enter your email</span></label> <%= f.text_field :email %>
	
	  <label>First Name
	  <span class="small">Enter your first name</span></label> <%= f.text_field :first_name %>
	  
	  <label>Last Name
	  <span class="small">Enter your last name</span></label> <%= f.text_field :last_name %>
	  
	  <label>Username
	  <span class="small">Choose your username</span></label> <%= f.text_field :username %>
		  
	  <label>Password
	  <span class="small">Enter your password</span></label> <%= f.password_field :password %>
	
	  <label>Password Confirmation
	  <span class="small">Confirm your password</span></label> <%= f.password_field :password_confirmation %>
	  
	  <button type="submit">Sign-up</button>
	  <div class="spacer"></div>
	  
	<% end %>
	<div style='clear:both;'></div>
</div>

<%= render :partial => "devise/shared/links" %>
