
<div class='search-result-item'>
	<div id='listingImg'><img src="http://placehold.it/220x180&text=<%= @listing.LN %>" /></div>
	<h2>Listing ID: <%= @listing.LN %></h2>
	
	<h3>Listing Price: <%= number_to_currency(@listing.LP, :precision => 0) %></h3>
	<p><strong><%= "#{@listing.HSN} #{@listing.CP} #{@listing.STR} #{@listing.STREETSUFFIX}" %><br /><%= "#{@listing.CIT} #{@listing.STATE} #{@listing.ZP}" %></strong></p>
	<p><span class='listingLabel'>Bedrooms</span>:  <%= @listing.BR %></p>
	<p><span class='listingLabel'>Bathrooms</span>:  <%= @listing.BTH %></p>
	<p><span class='listingLabel'>Approx. SQ Footage</span>: <%= @listing.ASF %></p>
	<p>
		<span class='listingLabel'>Description</span>:<br />
		<%= @listing.RE1 + @listing.RE2 + @listing.RE3 %>
	</p>
	
</div>

<div class='clear'></div>
<%= render :partial => "widgets/topreomarkets" %>