<h1>Seach Results</h1>
<h2>for "<%=params[:address]%>" finding a total of <%= @listings.total_entries %> results</h2>
<%= will_paginate(@listings, :params => {:address => params['address'] }) %>
<% @listings.each do |listing| %>
	<div class='search-result-item'>
		<h2>Listing ID: <a href='/listing/<%= listing.LN %>'><%= listing.LN %></a></h2>
		<p><strong><%= "#{listing.HSN} #{listing.CP} #{listing.STR} #{listing.STREETSUFFIX}" %><br /><%= "#{listing.CIT} #{listing.STATE} #{listing.ZP}" %></strong></p>
		<p><span class='listingLabel'>Bedrooms</span>:  <%= listing.BR %></p>
		<p><span class='listingLabel'>Bathrooms</span>:  <%= listing.BTH %></p>
		<p><span class='listingLabel'>Approx. SQ Footage</span>: <%= listing.ASF %></p>
		<p>
		<span class='listingLabel'>Description</span>:<br />
		<%= listing.RE1 + listing.RE2 + listing.RE3 %>
	</p>
	</div>
<% end %>
<%= will_paginate(@listings, :params => { :address => params['address'] }) %>
<div class='clear'></div>
<%= render :partial => "widgets/topreomarkets" %>