<div id="stylized" class="register-form">

<h1>Sign in</h1>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <label>Email
  <span class="small">Enter your email address</span></label>
  <%= f.text_field :email %>

  <label>Password
  <span class="small">Enter your password</span></label>
  <%= f.password_field :password %>

  <% if devise_mapping.rememberable? -%>
    <label>Remember me?</label>
  	<%= f.check_box :remember_me %>
  <% end -%>

  <button type="submit">Sign-up</button>
  <div class="spacer"></div>

<% end %>

</div>

<%= render :partial => "devise/shared/links" %>