<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="<?php print $language->language ?>" lang="<?php print $language->language ?>" dir="<?php print $language->dir ?>">
  <head>
    <title>BREOS</title>
    <%= yield(:head) %>
	<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/pages.css?Z" />
	<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/menus.css?Z" />
	<link type="text/css" rel="stylesheet" media="all" href="/stylesheets/bankreos.css?Z" />
	<script type="text/javascript" src="/javascripts/jquery.js?Z"></script>
	<script type="text/javascript" src="/javascripts/superfish.js?Z"></script>
	<script type="text/javascript" src="/javascripts/jquery.bgiframe.min.js?Z"></script>
	<script type="text/javascript" src="/javascripts/jquery.hoverIntent.minified.js?Z"></script>
	<script type="text/javascript" src="/javascripts/nice_menus.js?Z"></script>
  </head>
  <body>
  	<div id='header'>
 		<%= render :partial => "widgets/header" %>
		<div style="clear:both;"></div>

  	</div>
	<%= render :partial => "widgets/mainnav" %>
		
	<div id="wrap"> 
		<div id="bannerbg">
			<div id="bannerleft"><img border="0" src="/images/us-map.gif"></div>
			<div id="bannerright"><img width="340" height="256" src="/images/top_add.png"></div>
			<div id="bannerbottombox"> 
				<div id="boxleft"><%= render :partial => "widgets/homesearchform" %></div>		
				<div id="boxright">
					<div id="botton1" style="margin-bottom:2px;"><a href="#"><img border="0" src="/images/registre_btn.png"></a></div>
					<div id="botton2"><a href="#"><img border="0" src="/images/signin_btn.png"></a></div>
				</div>
			</div>
		</div>
		<div id="centerCol">
			<div id="container">
		      	<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
				
				  		<div id='actions'>
				  			<% if user_signed_in? %>
				  			<div id='user-sign-out'><a href='/users/sign_out'>Sign Out</a></div>
				  			<% else %>
				 			  <div id='user-sign-in'><a href='/users/sign_in'>Sign In</a></div>
				 			<% end %>
				  			<% unless current_user.nil? %><div id='hello-user'>Hello, <%= current_user.email %></div><% end %>
				  		</div>
				<div id='main_content'>
			      <%= yield %>	
				</div>
		    </div>
		
			<%= render :partial => "featured_reos" %>
				
			<div style="clear:both;"></div>
			
			<div id="leftcontentbox1" style="margin-top:17px;">
				<div id="leftcontentbox1">
					<div id="lefttoolbox">
						<div id="toolbox" style="padding-top:8px">
							<div id="toolboxcontent" align="center">
								<img src="/images/icon1.png">
							</div>
							<div id="toolboxcontent" align="center">
								<a href="#">Brochure Request</a>
							</div>
						</div>
						<div id="toolbox" style="padding-top:5px">
							<div id="toolboxcontent" align="center">
								<div align="center"><img width="65" height="45" src="/images/icon2.png"></div>
							</div>
							<div id="toolboxcontent" align="center"><a href="#">Financing</a></div>
						</div>
						<div id="toolbox" style="padding-top:8px">
							<div id="toolboxcontent" align="center">
								<div align="center"><img width="53" height="48" src="/images/icon3.png"></div>
							</div>
							<div id="toolboxcontent" align="center"><a href="#">Tools</a></div>
						</div>
						<div id="toolbox" style="padding-top:5px">
							<div id="toolboxcontent" align="center">
								<div align="center">
									<a href="index.php?menu=register"><img border="0" src="/images/icon4.png"></a>
								</div>
							</div>
							<div id="toolboxcontent" align="center">
								<a href="index.php?menu=register">Register Here</a>
							</div>
						</div>
					</div>
					<div id="righttoolbox">
						<div id="toolconetnt">
						
							<div id="toolbox1">
								<div id="bluetitle" style="padding-bottom:15px;"></div>
								<div id="bluecontent"></div>
								    
								<div id="button">
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td width="52%" valign="top" align="left">
													<img width="66" height="54" src="<?php echo $node->field_image[0]['filepath']; ?>">
												</td>
												<td width="48%" valign="top" align="left" style="padding-top:25px;">
													<a href="<?php echo $node->field_link[0]['url']; ?>">
														<img width="86" height="24" border="0" src="/images/readmore_btn.png">
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
							
							<div id="toolbox1" style="border:0px none; padding-left:16px; width:180px">
								<div id="bluetitle"></div>
								<div id="bluecontent"></div>
								<div id="button" align="right">
									<table width="100%" cellspacing="0" cellpadding="0" border="0">
										<tbody>
											<tr>
												<td width="52%" valign="top" align="left">
													<img width="65" height="65" src="<?php echo $node->field_image[0]['filepath']; ?>">
												</td>
												<td width="48%" valign="top" align="left" style="padding-top:25px;">
													<a href="<?php echo $node->field_link[0]['display_url']; ?>">
														<img width="86" height="24" border="0" src="/images/readmore_btn.png">
													</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							
							<div id="toolconetnt"><img width="403" height="23" src="/images/separator1.png"></div>
							
							
							<div id="toolconetnt">
								<div id="toolbox1">
									<div id="bluetitle" style="padding-bottom:10px;"></div>
									<div id="bluecontent"></div>
									<div id="button" align="right">
										<table width="100%" cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td width="52%" valign="top" align="left" style="padding-top:8px">
														<span style="padding-top:5px;"><img width="51" height="46" src="<?php echo $node->field_image[0]['filepath']; ?>"></span>
													</td>
													<td width="48%" valign="top" align="left" style="padding-top:25px;">
														<a href="<?php echo $node->field_link[0]['display_url']; ?>"><img width="86" height="24" border="0" src="/images/readmore_btn.png"></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
								
								<div id="toolbox1" style="border:0px none; padding-left:16px; width:180px">
									<div id="bluetitle" style="padding-bottom:10px;"></div>
									<div id="bluecontent"></div>
									<div id="button" align="right">
										<table width="100%" cellspacing="0" cellpadding="0" border="0">
											<tbody>
												<tr>
													<td width="52%" valign="top" align="left"><img width="55" height="55" src="<?php echo $node->field_image[0]['filepath']; ?>"></td>
													<td width="48%" valign="top" align="left" style="padding-top:25px;">
														<a href="<?php echo $node->field_link[0]['display_url']; ?>"><img width="86" height="24" border="0" src="/images/readmore_btn.png"></a>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				
				<div id="leftcontentbox2">
					<div id="bluebox">
						<%= render :partial => "widgets/bankreonews" %>
						
						<%= render :partial => "widgets/bankreoblog" %>
						
						<%= render :partial => "widgets/bankreovideo" %>
					</div>
					
					<div id="bluebox1" style="border-bottom:1px solid #CCCCCC">
					
						
						<div id="blueinnerbox1" style="padding-left:10px;">
							<div id="bbluetitle1"></div>
							<div id="bbluecontent1">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td width="65%" valign="top" align="left"></td>
											<td width="35%" valign="top" align="left"><img width="86" height="96" src="<?php echo $node->field_image[0]['filepath']; ?>"></td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="bbutton1" align="right">
								<a href="<?php echo $node->field_link[0]['url']; ?>"><img width="86" height="24" border="0" src="/images/readmore_btn.png" /></a>
							</div>
						</div>
						
						
						<div id="blueinnerbox2">
							<div id="bbluetitle2"></div>
							<div id="bbluecontent2">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td width="62%" valign="top" align="left"></td>
											<td width="38%" valign="top" align="left">
												<img width="104" height="89" src="/images/community1.png" />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div id="bbutton2" align="right" style="padding-top:6px;">
								<table width="100%" cellspacing="0" cellpadding="0" border="0">
									<tbody>
										<tr>
											<td width="64%">&nbsp;</td>
											<td width="36%">
												<a href="<?php echo $node->field_link[0]['display_url']; ?>"><img width="86" height="24" border="0" src="/images/readmore_btn.png" /></a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
						
					<%= render :partial => "widgets/topreomarkets" %>
					<div id="bluebox1" align="center"><img width="550" height="82" src="/images/add.png"></div>
				</div>
			</div>
		</div>

		<div id='rightCol'>
			
			<%= render :partial => "widgets/meetbankreoexpert" %>
			
			<div style="clear:both;"></div>	
			
			<%= render :partial => "widgets/mybankreos" %>
				
	      	
	      	<div style="clear:both;"></div>	
	      	
	       	<%= render :partial => "widgets/searchandalerts" %>
	       	
	       	<%= render :partial => "widgets/rightadbox1" %>
	       	
	       	<%= render :partial => "widgets/rightadbox2" %>	   
			   
		</div>
			   
		<div style="clear:both;"></div>
	</div>
</body>
</html>